@model IEnumerable<ApplyInk.Web.Data.Entities.User>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<br />

<p>
    <h3>Tattooer</h3>
</p>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">

            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <colgroup>
                        <col span="1" />
                        <col span="1" />
                        <col span="1" />
                        <col span="1" />
                        <col span="1" />
                        <col span="1" />
                        <col span="1" />
                        <col span="1" />
                        <col span="1" />
                    </colgroup>

                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LastName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Address)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UserType)
                            </th>
                            <th>
                                <label>Social Network</label>
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Shop.City)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Shop)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Categories)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ImageFullPath)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserType)
                            </td>
                            <td>
                                <a href="@item.SocialNetworkURL" target="_blank">See work.</a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Shop.City.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Shop.Name)
                            </td>
                            <td>

                                @foreach (var itemCat in item.Categories)
                                {
                                    @Html.DisplayFor(modelItem => itemCat.Name)<br />
                                }

                            </td>
                            <td>
                             <img src="@item.ImageFullPath" style="width:100px;height:100px;max-width: 100%; height: auto;" />
                            </td>

                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>   
<br />


